In [1]:
import pandas as pd
import numpy as np
import boto3
import configparser
import psycopg2

# Leemos archivo de configuraci√≥n y credenciales

In [2]:
config = configparser.ConfigParser()
config.read('config_P.cfg')

['config_P.cfg']

In [3]:
aws_rds_conn = boto3.client('rds', aws_access_key_id=config.get('IAM', 'ACCESS_KEY'),
                            aws_secret_access_key=config.get('IAM', 'SECRET_KEY'),
                            region_name='us-east-2')

### Verificamo instancias disponibles para el usuario

In [4]:
rds_instances_ids = []

aws_response = aws_rds_conn.describe_db_instances()

for item in aws_response['DBInstances']:
    rds_instances_ids.append(item['DBInstanceIdentifier'])
    
print(f"Instancias disponibles: {rds_instances_ids}")

Instancias disponibles: ['ecomercedb', 'hechosdbproject']

### Creamos instancia de base de datos en AWS - Postgres

In [28]:
try:
    response = aws_rds_conn.create_db_instance(
                            DBInstanceIdentifier=config.get('ECOMERCE', 'DB_INSTANCE_ID'),
                            DBName=config.get('ECOMERCE', 'DB_NAME'),
                            MasterUsername=config.get('ECOMERCE', 'DB_USERNAME'),
                            MasterUserPassword=config.get('ECOMERCE', 'DB_PASSWORD'),
                            Port=int(config.get('ECOMERCE', 'DB_PORT')),
                            DBInstanceClass='db.t3.micro',
                            Engine='postgres',
                            PubliclyAccessible=True,
                            AllocatedStorage=20,
                            VpcSecurityGroupIds=[config.get('VPC', 'SECURITY_GROUP')]
                        )
    print(response)
except aws_rds_conn.exceptions.DBInstanceAlreadyExistsFault:
    print('La instancia ya existe')
except Exception as ex:
    print('Error!!!', ex)

{'DBInstance': {'DBInstanceIdentifier': 'ecomercedb', 'DBInstanceClass': 'db.t3.micro', 'Engine': 'postgres', 'DBInstanceStatus': 'creating', 'MasterUsername': 'ecomercedb', 'DBName': 'ecomerce', 'AllocatedStorage': 20, 'PreferredBackupWindow': '07:03-07:33', 'BackupRetentionPeriod': 1, 'DBSecurityGroups': [], 'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-0c9b1d192d18c4475', 'Status': 'active'}], 'DBParameterGroups': [{'DBParameterGroupName': 'default.postgres16', 'ParameterApplyStatus': 'in-sync'}], 'DBSubnetGroup': {'DBSubnetGroupName': 'default', 'DBSubnetGroupDescription': 'default', 'VpcId': 'vpc-012c32f382ec5723b', 'SubnetGroupStatus': 'Complete', 'Subnets': [{'SubnetIdentifier': 'subnet-0c54fb3d2eb2385cb', 'SubnetAvailabilityZone': {'Name': 'us-east-2c'}, 'SubnetOutpost': {}, 'SubnetStatus': 'Active'}, {'SubnetIdentifier': 'subnet-0325c0440844b2e08', 'SubnetAvailabilityZone': {'Name': 'us-east-2b'}, 'SubnetOutpost': {}, 'SubnetStatus': 'Active'}, {'SubnetIdentifier': 'subnet-05d834b2dc430c3f0', 'SubnetAvailabilityZone': {'Name': 'us-east-2a'}, 'SubnetOutpost': {}, 'SubnetStatus': 'Active'}]}, 'PreferredMaintenanceWindow': 'sun:03:38-sun:04:08', 'PendingModifiedValues': {'MasterUserPassword': '****'}, 'MultiAZ': False, 'EngineVersion': '16.1', 'AutoMinorVersionUpgrade': True, 'ReadReplicaDBInstanceIdentifiers': [], 'LicenseModel': 'postgresql-license', 'OptionGroupMemberships': [{'OptionGroupName': 'default:postgres-16', 'Status': 'in-sync'}], 'PubliclyAccessible': True, 'StorageType': 'gp2', 'DbInstancePort': 0, 'StorageEncrypted': False, 'DbiResourceId': 'db-QHLCEZQDM7F6PVQKW3LCVFTWOE', 'CACertificateIdentifier': 'rds-ca-rsa2048-g1', 'DomainMemberships': [], 'CopyTagsToSnapshot': False, 'MonitoringInterval': 0, 'DBInstanceArn': 'arn:aws:rds:us-east-2:533267366858:db:ecomercedb', 'IAMDatabaseAuthenticationEnabled': False, 'PerformanceInsightsEnabled': False, 'DeletionProtection': False, 'AssociatedRoles': [], 'TagList': [], 'CustomerOwnedIpEnabled': False, 'BackupTarget': 'region', 'NetworkType': 'IPV4', 'StorageThroughput': 0, 'CertificateDetails': {'CAIdentifier': 'rds-ca-rsa2048-g1'}, 'DedicatedLogVolume': False}, 'ResponseMetadata': {'RequestId': '48a3fc1a-333b-4d92-bcaf-c93279f62e02', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amzn-requestid': '48a3fc1a-333b-4d92-bcaf-c93279f62e02', 'strict-transport-security': 'max-age=31536000', 'content-type': 'text/xml', 'content-length': '3443', 'date': 'Fri, 12 Apr 2024 02:31:17 GMT'}, 'RetryAttempts': 0}}

### Obtenemos el hostname de la instancia

In [5]:
try: 
    instance = aws_rds_conn.describe_db_instances(DBInstanceIdentifier=config.get('ECOMERCE','DB_INSTANCE_ID'))
    RDS_HOSTNAME = instance.get('DBInstances')[0].get('Endpoint').get('Address')
    print(RDS_HOSTNAME)
except Exception as ex:
    print('Error!!!',ex)

ecomercedb.ctiwauocyj1r.us-east-2.rds.amazonaws.com

### Nos conectamos a la base de datos y creamos las tablas

In [66]:
import sql_queries_P

In [ ]:
try:
    db_pg_conn = psycopg2.connect(
                        database=config.get('ECOMERCE', 'DB_NAME'),
                        user=config.get('ECOMERCE', 'DB_USERNAME'),
                        password=config.get('ECOMERCE', 'DB_PASSWORD'),
                        port=config.get('ECOMERCE', 'DB_PORT'),
                        host=RDS_HOSTNAME)
    cursor = db_pg_conn.cursor()
    cursor.execute(sql_queries_P.DDL_QUERY)
    db_pg_conn.commit()
except Exception as ex:
    print('Error!!!!', ex)

In [6]:
driver = f"""postgresql://{config.get('ECOMERCE', 'DB_USERNAME')}:{config.get('ECOMERCE', 'DB_PASSWORD')}@{RDS_HOSTNAME}:{config.get('ECOMERCE', 'DB_PORT')}/{config.get('ECOMERCE', 'DB_NAME')}"""
driver

'postgresql://ecomercedb:xi0iCRebLPEraW6f9C8U@ecomercedb.ctiwauocyj1r.us-east-2.rds.amazonaws.com:5432/ecomerce'

In [7]:
def insertData2SQL(data_dict, table_name, driver):
    df_data = pd.DataFrame.from_records(data_dict)
    try:
        response = df_data.to_sql(table_name, driver, index=False, if_exists='append')
        print(f'Se han insertado {response} nuevos registros')
    except Exception as ex:
        print('Error!!!', ex)

In [18]:
data_categoria = [
    {'nombre': 'Furniture', 'descripcion': 'productos como muebles para oficina y casa', 'estado': 'TRUE'},
    {'nombre': 'Toy', 'descripcion': 'conjunto de productos para diversion', 'estado': 'TRUE'},
    {'nombre': 'Health', 'descripcion': 'productos utilizados para la salud', 'estado': 'TRUE'},
    {'nombre': 'Car', 'descripcion': 'productos para vehiculos', 'estado': 'TRUE'},
    {'nombre': 'Electronics', 'descripcion': 'productos electronicos de todo tipo', 'estado': 'TRUE'},
]

#Insertamos los datos en la tabla categoria
insertData2SQL(data_categoria, 'categoria', driver)

Se han insertado 5 nuevos registros

In [20]:
data_rol = [
    {'nombre': 'Ventas', 'descripcion': 'Departamento encargado de la comercializaci√≥n', 'estado': 'TRUE'},
    {'nombre': 'Contabilidad', 'descripcion': 'Departamento encargado de las finanzas', 'estado': 'TRUE'},
    {'nombre': 'Limpieza', 'descripcion': 'Departamento encargado del aseo', 'estado': 'TRUE'},
    {'nombre': 'Gerente', 'descripcion': 'Encargado de Departamento', 'estado': 'TRUE'},
    {'nombre': 'Due√±o', 'descripcion': 'Propietario del negocio', 'estado': 'TRUE'},
]

#Insertamos los datos en la tabla rol
insertData2SQL(data_rol, 'rol', driver)

Se han insertado 5 nuevos registros

In [16]:
from faker import Faker

In [17]:
fake = Faker()

In [25]:
personas = []

for _ in range(100):
    data_cliente = {
        'tipo_persona': fake.random_element(['MUJER', 'HOMBRE']),
        'nombre': fake.name(),
        'tipo_documento': fake.random_element(['DNI', 'Pasaporte']),
        'num_documento': fake.random_number(digits=17),
        'direccion': fake.address(),
        'telefono': fake.numerify(text='###-#######'),
        'email': fake.email()
    }
    personas.append(data_cliente)

#Insertamos los datos en la tabla categoria
insertData2SQL(personas, 'persona', driver)

Se han insertado 100 nuevos registros

In [25]:
import secrets

In [32]:
usuarios = []
idrol_list = np.random.choice([1, 2, 3, 4], size=10).tolist()
idrol_list.append(5)
idrol_list.append(5)

for _ in range(12):
    usuario = {
        'idrol': idrol_list.pop(0),
        'nombre': fake.name(),
        'tipo_documento': fake.random_element(['DPI', 'Pasaporte']),
        'num_documento': fake.random_number(digits=17),
        'direccion': fake.address(),
        'telefono': fake.numerify(text='0' * 20),
        'email': fake.email(),
        'clave': secrets.token_bytes(16),
        'estado': fake.random_element([True, False])
    }
    usuarios.append(usuario)

In [33]:
#Insertamos los datos en la tabla categoria
insertData2SQL(usuarios, 'usuario', driver)

Se han insertado 12 nuevos registros

In [7]:
import sql_articulos

In [8]:
try:
    db_pg_conn = psycopg2.connect(
                        database=config.get('ECOMERCE', 'DB_NAME'),
                        user=config.get('ECOMERCE', 'DB_USERNAME'),
                        password=config.get('ECOMERCE', 'DB_PASSWORD'),
                        port=config.get('ECOMERCE', 'DB_PORT'),
                        host=RDS_HOSTNAME)
    cursor = db_pg_conn.cursor()
    cursor.execute(sql_articulos.DDL_QUERY)
    db_pg_conn.commit()
except Exception as ex:
    print('Error!!!!', ex)

In [26]:
import sql_ingresos

In [28]:
try:
    db_pg_conn = psycopg2.connect(
                        database=config.get('ECOMERCE', 'DB_NAME'),
                        user=config.get('ECOMERCE', 'DB_USERNAME'),
                        password=config.get('ECOMERCE', 'DB_PASSWORD'),
                        port=config.get('ECOMERCE', 'DB_PORT'),
                        host=RDS_HOSTNAME)
    cursor = db_pg_conn.cursor()
    cursor.execute(sql_ingresos.DDL_QUERY)
    db_pg_conn.commit()
except Exception as ex:
    print('Error!!!!', ex)
finally:
    cursor.close()
    db_pg_conn.close()

In [30]:
import sql_ventas

In [31]:
try:
    db_pg_conn = psycopg2.connect(
                        database=config.get('ECOMERCE', 'DB_NAME'),
                        user=config.get('ECOMERCE', 'DB_USERNAME'),
                        password=config.get('ECOMERCE', 'DB_PASSWORD'),
                        port=config.get('ECOMERCE', 'DB_PORT'),
                        host=RDS_HOSTNAME)
    cursor = db_pg_conn.cursor()
    cursor.execute(sql_ventas.DDL_QUERY)
    db_pg_conn.commit()
except Exception as ex:
    print('Error!!!!', ex)
finally:
    cursor.close()
    db_pg_conn.close()

In [32]:
def insertData2SQL_v2(data_dict, table_name, driver):
    try:
        response = data_dict.to_sql(table_name, driver, index=False, if_exists='append')
        print(f'Se han insertado {response} nuevos registros')
    except Exception as ex:
        print('Error!!!', ex)

In [34]:
dataset = pd.read_csv("CSV/detalleventa1.csv")
dataset

     iddetalle_venta  idventa  idarticulo  cantidad  precio  descuento
0                  1        8          24         2     NaN        NaN
1                  2       80          19         3     NaN        NaN
2                  3        6           9         1     NaN        NaN
3                  4       86          19         3     NaN        NaN
4                  5       57           4         2     NaN        NaN
..               ...      ...         ...       ...     ...        ...
995              996       70          17         3     NaN        NaN
996              997       12          18         2     NaN        NaN
997              998       65           1         1     NaN        NaN
998              999       31          24         2     NaN      0.016
999             1000       44          22         3     NaN        NaN

[1000 rows x 6 columns]

In [35]:
dataset2 = pd.read_csv("CSV/detalleventa2.csv")
dataset2

     iddetalle_venta  idventa  idarticulo  cantidad  precio  descuento
0               1001       18          20         3     NaN        NaN
1               1002       38          16         1     NaN        NaN
2               1003       63          17         2     NaN        NaN
3               1004       20          21         3     NaN        NaN
4               1005       72          21         1     NaN      0.039
..               ...      ...         ...       ...     ...        ...
995             1996       45          22         2     NaN        NaN
996             1997       61          18         1     NaN        NaN
997             1998       98           4         2     NaN        NaN
998             1999       96          25         1     NaN        NaN
999             2000       99          14         2     NaN        NaN

[1000 rows x 6 columns]

In [39]:
dataframe_detven = pd.concat([dataset, dataset2], ignore_index=True)
dataframe_detven

      iddetalle_venta  idventa  idarticulo  cantidad  precio  descuento
0                   1        8          24         2     NaN        NaN
1                   2       80          19         3     NaN        NaN
2                   3        6           9         1     NaN        NaN
3                   4       86          19         3     NaN        NaN
4                   5       57           4         2     NaN        NaN
...               ...      ...         ...       ...     ...        ...
1995             1996       45          22         2     NaN        NaN
1996             1997       61          18         1     NaN        NaN
1997             1998       98           4         2     NaN        NaN
1998             1999       96          25         1     NaN        NaN
1999             2000       99          14         2     NaN        NaN

[2000 rows x 6 columns]

In [43]:
dataframe_detven = dataframe_detven.drop('iddetalle_venta', axis=1)
dataframe_detven

      idventa  idarticulo  cantidad  precio  descuento
0           8          24         2     NaN        NaN
1          80          19         3     NaN        NaN
2           6           9         1     NaN        NaN
3          86          19         3     NaN        NaN
4          57           4         2     NaN        NaN
...       ...         ...       ...     ...        ...
1995       45          22         2     NaN        NaN
1996       61          18         1     NaN        NaN
1997       98           4         2     NaN        NaN
1998       96          25         1     NaN        NaN
1999       99          14         2     NaN        NaN

[2000 rows x 5 columns]

In [45]:
insertData2SQL_v2(dataframe_detven, 'detalle_venta', driver)

Se han insertado 1000 nuevos registros

In [46]:
dataframe = pd.read_csv("CSV/detalleingreso.csv")
dataframe

    iddetalle_ingreso  idingreso  idarticulo  cantidad  precio
0                1001         12           8       432     NaN
1                1002         12           9       483     NaN
2                1003         15          16       371     NaN
3                1004          1           1       444     NaN
4                1005          3           1       486     NaN
..                ...        ...         ...       ...     ...
95               1096          1          10       360     NaN
96               1097         16          17       367     NaN
97               1098         18          19       393     NaN
98               1099          8          21       407     NaN
99               1100          5          20       314     NaN

[100 rows x 5 columns]

In [47]:
dataframe = dataframe.drop('iddetalle_ingreso', axis=1)
dataframe

    idingreso  idarticulo  cantidad  precio
0          12           8       432     NaN
1          12           9       483     NaN
2          15          16       371     NaN
3           1           1       444     NaN
4           3           1       486     NaN
..        ...         ...       ...     ...
95          1          10       360     NaN
96         16          17       367     NaN
97         18          19       393     NaN
98          8          21       407     NaN
99          5          20       314     NaN

[100 rows x 4 columns]

In [49]:
insertData2SQL_v2(dataframe, 'detalle_ingreso', driver)

Se han insertado 100 nuevos registros